@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Todos mis proyectos";
}

<div class="row text-center ">
    <h1>Todos mis proyectos</h1>
    <p>Estos son todos los proyectos que he desarrollado.</p>
</div>

<partial name="_ListadoDeProyectos" model="Model"></partial>

